.navigation .navigation-list .navigation-item .navigation-link {
    display: block;
    font-size: 1rem;
    transition: 0.5s;
    color: #485068;
    font-weight: 500;
}

.navigation .navigation-list .navigation-item:hover .navigation-link {
    color: #212121; 
    font-weight: 800;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 1024px) {
    .navigation .navigation-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-left: -1rem;
        margin-right: -1rem;
    }

    .navigation .navigation-list .navigation-item {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .navigation {
        margin-left: 120px;
    }
}
